.contact-content {
    min-height: 50vh;
    background-color: var(--main-color);
}

.contact-content-text {
    width: auto;
    height: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.contact-content-text p{
    width: 500px;
    font-size: 3rem;
}

#email{
    color: var(--main-text-color);
}

