.footer {
    text-align: center;
    font-size: 1.6rem;
    background: var(--main-color);
}

.footer a {
    text-decoration: none;
    color: var(--main-text-color);
}

.heart {
    color: var(--main-text-color-darker);
}

.footer p {
    margin: 0;
    padding: 3rem;
}