* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #1F1E1E;
    --main-color-hover: #2727279f;
    --main-text-color: #a0d9ff;
    --main-text-color-darker: #2379d5;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 10rem;
}

h2 {
    font-size: 9rem;
}

h3 {
    font-size: 8rem;
}

h4 {
    font-size: 7rem;
}

h5 {
    font-size: 6rem;
}

h6 {
    font-size: 5rem;
}