.main-content,
.contact-content {
    margin: 0 auto;
    padding: 80px 100px 25px 100px;
}

.main-bg {
    background-color: var(--main-color);
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

.white-bg {
    background-color: white;
    background-attachment: fixed;
    background-size: cover;
    color: black;
}

.menu-spacing {
    display: none;
    height: 65px;
}
