.cta {
    padding: 16px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    background: #eab308;
    transition: 1s;
    box-shadow: 6px 6px 0 black;
    border-radius: 8px;
}

.cta:focus {
    outline: none;
}

.cta:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 #fff;
}

.cta span:nth-child(2) {
    transition: 0.5s;
    margin-right: 0px;
}

.cta:hover span:nth-child(2) {
    transition: 0.5s;
    margin-right: 45px;
}

@media (max-width: 768px) {
    .cta {
        padding: 16px 12px;
    }

}